<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CourSync</title>

    <link rel="stylesheet" href="/static/css/style.css?v=1.3.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Agbalumo&family=Comfortaa:wght@300..700&family=Pacifico&display=swap" rel="stylesheet">

</head>
<body>
    <div class="heading">
        <h1>CourSync</h1> 
        <p> - Harmonize Your Courses, Maximize Your Time</p>
    </div>



    <div class="container">
        <!-- Courses Section -->
        <div class="courses">
            <div class="container-text">
                <p>Courses</p>
            </div>
            
            <input id="course1" type="text" placeholder="Course 1 (e.g., CSE220)">
            <input id="course2" type="text" placeholder="Course 2 (e.g., CSE250)">
            <input id="course3" type="text" placeholder="Course 3 (e.g., CSE320)">
            <input id="course4" type="text" placeholder="Course 4 (e.g., MAT215)">
            <input id="course5" type="text" placeholder="Course 5 (e.g., BIO101)">
        </div>

        <!-- Filter Section -->
        <div class="filter">
            <div class="container-text">
                <p >Filter</p>
            </div>
            <div class="filter-row">
                <input id="section1" type="number" placeholder="Preferred section">
                <input id="faculty1" type="text" placeholder="Preferred Fauclty">
                <input id="avoid1" type="text" placeholder="Avoid Faculty">
                <select id="pref_time1" class="time-selection">
                    <option value = "" >Preferred Time</option>
                    <option value = "08:00 AM-09:20 AM">08:00AM-09:20AM</option>
                    <option value = "09:30 AM-10:50 AM">09:30AM-10:50AM</option>
                    <option value = "11:00 AM-12:20 PM">11:00AM-12:20AM</option>
                    <option value = "12:30 PM-01:50 PM">12:30AM-01:50AM</option>
                    <option value = "02:00 PM-03:20 PM">02:00AM-03:20AM</option>
                    <option value = "03:30 PM-04:50 PM">03:30AM-04:50AM</option>
                    <option value = "05:00 PM-06:20 PM">05:00AM-06:20AM</option>
                </select>
            </div>
            <div class="filter-row">
                <input id="section2" type="number" placeholder="Preferred section">
                <input id="faculty2" type="text" placeholder="Preferred Faculty">
                <input id="avoid2" type="text" placeholder="Avoid Faculty">
                <select id="pref_time2" class="time-selection">
                    <option value = "" >Preferred Time</option>
                    <option value = "08:00 AM-09:20 AM">08:00AM-09:20AM</option>
                    <option value = "09:30 AM-10:50 AM">09:30AM-10:50AM</option>
                    <option value = "11:00 AM-12:20 PM">11:00AM-12:20AM</option>
                    <option value = "12:30 PM-01:50 PM">12:30AM-01:50AM</option>
                    <option value = "02:00 PM-03:20 PM">02:00AM-03:20AM</option>
                    <option value = "03:30 PM-04:50 PM">03:30AM-04:50AM</option>
                    <option value = "05:00 PM-06:20 PM">05:00AM-06:20AM</option>
                </select>
            </div>
            <div class="filter-row">
                <input id="section3" type="number" placeholder="Preferred section">
                <input id="faculty3" type="text" placeholder="Preferred Faculty">
                <input id="avoid3" type="text" placeholder="Avoid Faculty">
                <select id="pref_time3" class="time-selection">
                    <option value = "" >Preferred Time</option>
                    <option value = "08:00 AM-09:20 AM">08:00AM-09:20AM</option>
                    <option value = "09:30 AM-10:50 AM">09:30AM-10:50AM</option>
                    <option value = "11:00 AM-12:20 PM">11:00AM-12:20AM</option>
                    <option value = "12:30 PM-01:50 PM">12:30AM-01:50AM</option>
                    <option value = "02:00 PM-03:20 PM">02:00AM-03:20AM</option>
                    <option value = "03:30 PM-04:50 PM">03:30AM-04:50AM</option>
                    <option value = "05:00 PM-06:20 PM">05:00AM-06:20AM</option>
                </select>
            </div>
            <div class="filter-row">
                <input id="section4" type="number" placeholder="Preferred section">
                <input id="faculty4" type="text" placeholder="Preferred Faculty">
                <input id="avoid4" type="text" placeholder="Avoid Faculty">
                <select id="pref_time4" class="time-selection">
                    <option value = "" >Preferred Time</option>
                    <option value = "08:00 AM-09:20 AM">08:00AM-09:20AM</option>
                    <option value = "09:30 AM-10:50 AM">09:30AM-10:50AM</option>
                    <option value = "11:00 AM-12:20 PM">11:00AM-12:20AM</option>
                    <option value = "12:30 PM-01:50 PM">12:30AM-01:50AM</option>
                    <option value = "02:00 PM-03:20 PM">02:00AM-03:20AM</option>
                    <option value = "03:30 PM-04:50 PM">03:30AM-04:50AM</option>
                    <option value = "05:00 PM-06:20 PM">05:00AM-06:20AM</option>
                </select>
            </div>
            <div class="filter-row">
                <input id="section5" type="number" placeholder="Preferred section">
                <input id="faculty5" type="text" placeholder="Preferred Faculty">
                <input id="avoid5" type="text" placeholder="Avoid Faculty">
                <select id="pref_time5" class="time-selection">
                    <option value = "" >Preferred Time</option>
                    <option value = "08:00 AM-09:20 AM">08:00AM-09:20AM</option>
                    <option value = "09:30 AM-10:50 AM">09:30AM-10:50AM</option>
                    <option value = "11:00 AM-12:20 PM">11:00AM-12:20AM</option>
                    <option value = "12:30 PM-01:50 PM">12:30AM-01:50AM</option>
                    <option value = "02:00 PM-03:20 PM">02:00AM-03:20AM</option>
                    <option value = "03:30 PM-04:50 PM">03:30AM-04:50AM</option>
                    <option value = "05:00 PM-06:20 PM">05:00AM-06:20AM</option>
                </select>
            </div>
        </div>
    </div>


    <!-- Exclude Empty Seat Checkbox -->
    <div class ="checkbox">
        <label>
            <input id="exclude-empty-seats" type="checkbox">
            Exclude Sections with No Seats
        </label>
    </div>


    <!-- Button to Generate Schedule -->

    <div class = "gen-btn-style"><button id="generate-btn">Generate Schedule</button></div>

    <div class="message" id="status-message"></div>

    <!-- <button id="generate-btn">Generate Schedule</button> -->

    <!-- Loading Spinner -->
    <div id="loading">Loading...</div>

    <!-- Schedule Table -->
    <div class="table-container">

        <table id="schedule-table">
            <tr>
                <th>Time/Day</th>
                <th>Sunday</th>
                <th>Monday</th>
                <th>Tuesday</th>
                <th>Wednesday</th>
                <th>Thursday</th>
                <th>Friday</th>
                <th>Saturday</th>
            </tr>
            <tr><td>08:00 AM-09:20 AM</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>09:30 AM-10:50 AM</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>11:00 AM-12:20 PM</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>12:30 PM-01:50 PM</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>02:00 PM-03:20 PM</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>03:30 PM-04:50 PM</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
            <tr><td>05:00 PM-06:20 PM</td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
        </table>
    </div>

    <!-- Previous/Next Buttons -->

    <div class = "btn-container">
        <button id="previous-btn">Previous</button>
        <span id="combination-number"></span>
        <button id="next-btn">Next</button>
    </div>

    <hr>

    <div class="note">
        <p>Please varify seat availability and course details manually</p>
        <p>New sections might not be visible</p>
        <p>Check for exam clash</p>
    </div>

    <hr>

    <!-- download table as image  -->
    <!-- <div class = "download-btn"><button class="download-btn" onclick="downloadTableAsImage()">Download</button></div> -->
    
    <p class = "cpright">© s.i.ayonto</p>

    <!-- <button id="previous-btn">Previous</button>
    <button id="next-btn">Next</button> -->

    <!-- Link to external JS file -->
    <script src="https://cdn.jsdelivr.net/npm/html2canvas@1.4.1/dist/html2canvas.min.js"></script>
    <script src="/static/js/main.js?v=1.3.0"></script>

</body>
</html>
